.body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  .img_sidebar{
    max-width: 60px;
  }
  .sidebar {
    width:80%;
    height: 20%;
    background-color: #1C0221;
    padding: 20px;
    color: #fff;
  }
  .sidebar h1{
    padding-left: 0px;

  }
  .sidebar-content {
    width: 80%;
    height: 80%;
    background-color: #1C0221;
    color: #fff;
  }
  .sidebar-container{
    display: flex;
    flex-direction: column;
  }
  